<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yum.itsm.ddtalk.busi.mapper.DiningDeskMapMapper" >
  <resultMap id="BaseResultMap" type="com.yum.itsm.ddtalk.busi.entity.DiningDeskMap" >
    <id column="dining_desk_id" property="diningDeskId" jdbcType="BIGINT" />
    <result column="dining_room_id" property="diningRoomId" jdbcType="BIGINT" />
    <result column="service_desk_id" property="serviceDeskId" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dining_desk_id, dining_room_id, service_desk_id, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yum.itsm.ddtalk.busi.entity.DiningDeskMapExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from itsm2.dining_desk_map
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from itsm2.dining_desk_map
    where dining_desk_id = #{diningDeskId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from itsm2.dining_desk_map
    where dining_desk_id = #{diningDeskId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yum.itsm.ddtalk.busi.entity.DiningDeskMapExample" >
    delete from itsm2.dining_desk_map
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yum.itsm.ddtalk.busi.entity.DiningDeskMap" >
    insert into itsm2.dining_desk_map (dining_desk_id, dining_room_id, service_desk_id, 
      remark)
    values (#{diningDeskId,jdbcType=BIGINT}, #{diningRoomId,jdbcType=BIGINT}, #{serviceDeskId,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yum.itsm.ddtalk.busi.entity.DiningDeskMap" >
    insert into itsm2.dining_desk_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="diningDeskId != null" >
        dining_desk_id,
      </if>
      <if test="diningRoomId != null" >
        dining_room_id,
      </if>
      <if test="serviceDeskId != null" >
        service_desk_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="diningDeskId != null" >
        #{diningDeskId,jdbcType=BIGINT},
      </if>
      <if test="diningRoomId != null" >
        #{diningRoomId,jdbcType=BIGINT},
      </if>
      <if test="serviceDeskId != null" >
        #{serviceDeskId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yum.itsm.ddtalk.busi.entity.DiningDeskMapExample" resultType="java.lang.Integer" >
    select count(*) from itsm2.dining_desk_map
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update itsm2.dining_desk_map
    <set >
      <if test="record.diningDeskId != null" >
        dining_desk_id = #{record.diningDeskId,jdbcType=BIGINT},
      </if>
      <if test="record.diningRoomId != null" >
        dining_room_id = #{record.diningRoomId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceDeskId != null" >
        service_desk_id = #{record.serviceDeskId,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update itsm2.dining_desk_map
    set dining_desk_id = #{record.diningDeskId,jdbcType=BIGINT},
      dining_room_id = #{record.diningRoomId,jdbcType=BIGINT},
      service_desk_id = #{record.serviceDeskId,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yum.itsm.ddtalk.busi.entity.DiningDeskMap" >
    update itsm2.dining_desk_map
    <set >
      <if test="diningRoomId != null" >
        dining_room_id = #{diningRoomId,jdbcType=BIGINT},
      </if>
      <if test="serviceDeskId != null" >
        service_desk_id = #{serviceDeskId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where dining_desk_id = #{diningDeskId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yum.itsm.ddtalk.busi.entity.DiningDeskMap" >
    update itsm2.dining_desk_map
    set dining_room_id = #{diningRoomId,jdbcType=BIGINT},
      service_desk_id = #{serviceDeskId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where dining_desk_id = #{diningDeskId,jdbcType=BIGINT}
  </update>
  
  
  
  <select id="selectIdSeq" resultType="java.lang.Long" >
		select nextval('itsm2.dining_desk_map_dining_desk_id_seq')
  </select>
</mapper>