<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yum.itsm.ddtalk.busi.mapper.DistrictInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yum.itsm.ddtalk.busi.entity.DistrictInfo" >
    <id column="district_id" property="districtId" jdbcType="BIGINT" />
    <result column="district_name" property="districtName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    district_id, district_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yum.itsm.ddtalk.busi.entity.DistrictInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from itsm2.district_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from itsm2.district_info
    where district_id = #{districtId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from itsm2.district_info
    where district_id = #{districtId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yum.itsm.ddtalk.busi.entity.DistrictInfoExample" >
    delete from itsm2.district_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yum.itsm.ddtalk.busi.entity.DistrictInfo" >
    insert into itsm2.district_info (district_id, district_name)
    values (#{districtId,jdbcType=BIGINT}, #{districtName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yum.itsm.ddtalk.busi.entity.DistrictInfo" >
    insert into itsm2.district_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="districtId != null" >
        district_id,
      </if>
      <if test="districtName != null" >
        district_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="districtId != null" >
        #{districtId,jdbcType=BIGINT},
      </if>
      <if test="districtName != null" >
        #{districtName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yum.itsm.ddtalk.busi.entity.DistrictInfoExample" resultType="java.lang.Integer" >
    select count(*) from itsm2.district_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update itsm2.district_info
    <set >
      <if test="record.districtId != null" >
        district_id = #{record.districtId,jdbcType=BIGINT},
      </if>
      <if test="record.districtName != null" >
        district_name = #{record.districtName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update itsm2.district_info
    set district_id = #{record.districtId,jdbcType=BIGINT},
      district_name = #{record.districtName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yum.itsm.ddtalk.busi.entity.DistrictInfo" >
    update itsm2.district_info
    <set >
      <if test="districtName != null" >
        district_name = #{districtName,jdbcType=VARCHAR},
      </if>
    </set>
    where district_id = #{districtId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yum.itsm.ddtalk.busi.entity.DistrictInfo" >
    update itsm2.district_info
    set district_name = #{districtName,jdbcType=VARCHAR}
    where district_id = #{districtId,jdbcType=BIGINT}
  </update>
  
  
  
  <resultMap id="DistrictInfo" type="com.yum.itsm.ddtalk.busi.entity.DistrictInfo" extends="BaseResultMap">
    <collection ofType="com.yum.itsm.ddtalk.busi.entity.SupProjectGroup" property="supProjectGroups" resultMap="SupProjectGroup" />
    <collection ofType="com.yum.itsm.ddtalk.busi.entity.DiningRoom" property="diningRomes" resultMap="DiningRoom" />
  </resultMap>
  <resultMap id="SupProjectGroup" type="com.yum.itsm.ddtalk.busi.entity.SupProjectGroup">
    <id column="sup_project_group_id" property="supProjectGroupId" jdbcType="BIGINT" />
    <result column="sup_project_group_name" property="supProjectGroupName" jdbcType="VARCHAR" />
    <result column="sup_project_group_remark" property="remark" jdbcType="VARCHAR" />
    <collection ofType="com.yum.itsm.ddtalk.busi.entity.ServiceDesk" property="serviceDesks" resultMap="ServiceDesk" />
  </resultMap>
  <resultMap id="ServiceDesk" type="com.yum.itsm.ddtalk.busi.entity.ServiceDesk" >
    <id column="service_desk_id" property="serviceDeskId" jdbcType="BIGINT" />
    <result column="service_desk_name" property="serviceDeskName" jdbcType="VARCHAR" />
    <result column="sup_project_group_id" property="supProjectGroupId" jdbcType="BIGINT" />
    <result column="service_desk_remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="DiningRoom" type="com.yum.itsm.ddtalk.busi.entity.DiningRoom" >
    <id column="dining_room_id" property="diningRoomId" jdbcType="BIGINT" />
    <result column="dining_room_name" property="diningRoomName" jdbcType="VARCHAR" />
    <result column="district_id" property="districtId" jdbcType="BIGINT" />
  </resultMap>
  <select id="getDistrictDetails" resultMap="DistrictInfo" parameterType="Map">
	select
		district.district_id,
		district.district_name,
		sup.sup_project_group_id,
		sup.sup_project_group_name,
		sup.remark as sup_project_group_remark,
		desk.service_desk_id,
		desk.service_desk_name,
		desk.remark as service_desk_remark,
		dining.dining_room_id,
		dining.dining_room_name
	from 
		itsm2.district_info as district
		left join itsm2.district_group_map sup_map on
			district.district_id = sup_map.district_id
		left join itsm2.sup_project_group as sup on
			sup_map.sup_project_group_id = sup.sup_project_group_id
		left join itsm2.service_desk as desk on
			sup.sup_project_group_id = desk.sup_project_group_id
		left join itsm2.dining_room as dining on
			district.district_id = dining.district_id
  	where 1=1 
  		<if test="districtId != null">
			and district.district_id = #{districtId}
		</if>
  </select>
  
  <select id="selectIdSeq" resultType="java.lang.Long" >
		select nextval('itsm2.district_group_map_district_group_id_seq')
  </select>
</mapper>