<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yum.itsm.ddtalk.busi.mapper.SupProjectGroupMapper" >
  <resultMap id="BaseResultMap" type="com.yum.itsm.ddtalk.busi.entity.SupProjectGroup" >
    <id column="sup_project_group_id" property="supProjectGroupId" jdbcType="BIGINT" />
    <result column="sup_project_group_name" property="supProjectGroupName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sup_project_group_id, sup_project_group_name, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yum.itsm.ddtalk.busi.entity.SupProjectGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from itsm2.sup_project_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from itsm2.sup_project_group
    where sup_project_group_id = #{supProjectGroupId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from itsm2.sup_project_group
    where sup_project_group_id = #{supProjectGroupId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yum.itsm.ddtalk.busi.entity.SupProjectGroupExample" >
    delete from itsm2.sup_project_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yum.itsm.ddtalk.busi.entity.SupProjectGroup" >
    insert into itsm2.sup_project_group (sup_project_group_id, sup_project_group_name, 
      remark)
    values (#{supProjectGroupId,jdbcType=BIGINT}, #{supProjectGroupName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yum.itsm.ddtalk.busi.entity.SupProjectGroup" >
    insert into itsm2.sup_project_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supProjectGroupId != null" >
        sup_project_group_id,
      </if>
      <if test="supProjectGroupName != null" >
        sup_project_group_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supProjectGroupId != null" >
        #{supProjectGroupId,jdbcType=BIGINT},
      </if>
      <if test="supProjectGroupName != null" >
        #{supProjectGroupName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yum.itsm.ddtalk.busi.entity.SupProjectGroupExample" resultType="java.lang.Integer" >
    select count(*) from itsm2.sup_project_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update itsm2.sup_project_group
    <set >
      <if test="record.supProjectGroupId != null" >
        sup_project_group_id = #{record.supProjectGroupId,jdbcType=BIGINT},
      </if>
      <if test="record.supProjectGroupName != null" >
        sup_project_group_name = #{record.supProjectGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update itsm2.sup_project_group
    set sup_project_group_id = #{record.supProjectGroupId,jdbcType=BIGINT},
      sup_project_group_name = #{record.supProjectGroupName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yum.itsm.ddtalk.busi.entity.SupProjectGroup" >
    update itsm2.sup_project_group
    <set >
      <if test="supProjectGroupName != null" >
        sup_project_group_name = #{supProjectGroupName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where sup_project_group_id = #{supProjectGroupId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yum.itsm.ddtalk.busi.entity.SupProjectGroup" >
    update itsm2.sup_project_group
    set sup_project_group_name = #{supProjectGroupName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where sup_project_group_id = #{supProjectGroupId,jdbcType=BIGINT}
  </update>
  
  
  
  <resultMap id="SupProjectGroup" type="com.yum.itsm.ddtalk.busi.entity.SupProjectGroup" extends="BaseResultMap">
    <collection ofType="com.yum.itsm.ddtalk.busi.entity.ServiceDesk" property="serviceDesks" resultMap="ServiceDesk" />
  </resultMap>
  <resultMap id="ServiceDesk" type="com.yum.itsm.ddtalk.busi.entity.ServiceDesk" >
    <id column="service_desk_id" property="serviceDeskId" jdbcType="BIGINT" />
    <result column="service_desk_name" property="serviceDeskName" jdbcType="VARCHAR" />
    <result column="sup_project_group_id" property="supProjectGroupId" jdbcType="BIGINT" />
    <result column="service_desk_remark" property="remark" jdbcType="VARCHAR" />
    <collection ofType="com.yum.itsm.ddtalk.busi.entity.EmpleeInfo" property="empleeInfos" resultMap="Emplee" />
  </resultMap>
  <resultMap id="Emplee" type="com.yum.itsm.ddtalk.busi.entity.EmpleeInfo" >
    <id column="emplee_id" property="empleeId" jdbcType="VARCHAR" />
    <result column="emplee_name" property="empleeName" jdbcType="VARCHAR" />
    <result column="service_desk_id" property="serviceDeskId" jdbcType="BIGINT" />
    <result column="emplee_remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getSupProjectGroupDetails" resultMap="SupProjectGroup" parameterType="Map">
	select
		sup.sup_project_group_id,
		sup.sup_project_group_name,
		sup.remark,
		desk.service_desk_id,
		desk.service_desk_name,
		desk.remark as service_desk_remark,
		emp.emplee_id,
		emp.emplee_name,
		emp.remark as emplee_remark
	from 
		itsm2.sup_project_group as sup
		left join itsm2.service_desk as desk on
			sup.sup_project_group_id = desk.sup_project_group_id
		left join itsm2.emplee_info as emp on
			desk.service_desk_id = emp.service_desk_id
  	where 1=1 
  		<if test="supProjectGroupId != null">
			and sup.sup_project_group_id = #{supProjectGroupId}
		</if>
  </select>
</mapper>