<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!--<bean name='configurationLoader'-->
		<!--class="com.ciicsh.commonservice.notification.common.DefaultConfigurationLoader">-->
		<!--<property name="jobs">-->
			<!--<list>-->
				 <!--<ref bean="earlyAlarmService" />-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->

	<!--<bean name="loadConfigurationJob"-->
		<!--class="org.springframework.scheduling.quartz.JobDetailBean">-->
		<!--<property name="jobClass"-->
			<!--value="com.ciicsh.commonservice.notification.common.LoadConfigurationJob">-->
		<!--</property>-->
		<!--<property name="jobDataAsMap">-->
			<!--<map>-->
				<!--<entry key="loader">-->
					<!--<ref bean="configurationLoader" />-->
				<!--</entry>-->
			<!--</map>-->
		<!--</property>-->
	<!--</bean>-->
	

	<bean id="triggerAlarmCheckerJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="earlyAlarmService"/>
		<property name="targetMethod" value="triggerAlarmChecker"/>
	</bean>

	<bean name="triggerAlarmCheckerTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="triggerAlarmCheckerJob" />
		</property>
		<property name="cronExpression">
			<value>0 0 2 * * ?</value>
		</property> 
		<!--
		<property name="cronExpression">
			<value>0 0/5 * * * ?</value>
		</property>
		 -->
	</bean>

	<bean id="triggerAlarmMailerJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="earlyAlarmService"/>
		<property name="targetMethod" value="triggerAlarmMailer"/>
	</bean>

	<bean name="triggerAlarmMailerTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="triggerAlarmMailerJob" />
		</property>
 		<property name="cronExpression">
			<value>0 0/15 * * * ?</value>
		</property>
 		<!--
		<property name="cronExpression">
			<value>0 * * * * ?</value>
		</property>
		-->
	</bean>

	
	<!-- 	<bean name="loadConfigurationTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="loadConfigurationJob" />
		</property>
	 -->
		
		<!--
			1.字段 允许值 允许的特殊字符 2.秒 0-59 , - * / 3.分 0-59 , - * / 4.小时 0-23 , - * /
			5.日期 1-31 , - * ? / L W C 6.月份 1-12 或者 JAN-DEC , - * / 7.星期 1-7 或者
			SUN-SAT , - * ? / L C # 8.年（可选） 留空, 1970-2099 , - * /
		-->
		<!-- 每10分钟的第一分钟触发 -->
		<!-- 
		<property name="cronExpression">
			<value>0 1/16 * * * ?</value>
		</property>
		
	</bean>
	-->
</beans>